@import "tailwindcss";

@theme {
  --color-forest: #1B4332;
  --color-forestmid: #3A7D44;
  --color-forestlight: #E9EFE9;
  --color-emerald: #1F6F4F;
  --color-emeraldlight: #DDEEE5;
  --color-ivory: #FFFFFF;
  --color-charcoal: #26281F;

  --font-display: "Fraunces", serif;
  --font-sans: "Inter", sans-serif;
}
